:root[modo="light"]{
    --bg-color:white;
    --title-color1:#ffffff;
    --title-color2: #265480;
    --font-color:black;
    --header-color:#3971c4;
    --modo-help: "dark mode";

}
:root[modo="dark"] {
    --bg-color: #2e2b2b;
    --title-color1: #ffffff;
    --title-color2: #3b94e7;
    --font-color: white;
    --header-color: #0c1d36;
    --modo-help:"light mode";

}

.textNormal{
  
        font-family: 'Raleway', sans-serif;
}
.textTitle{
     font-family: 'Patua One', serif;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: .5s;
}

* {
    box-sizing: border-box;
}