
.row
{
    justify-content: center;
}
main
{
display: block;
}

/*Carrusel estilos*/
.top-venta
{
    border:4px solid #ff0000 ;
    color:#ff0000;
    line-height: 50px ;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    
    border-radius: 10%; 
    width: 120px; 
    height: 60px;
    transform: rotate(30deg);
    position: absolute;
    right: 40%;
    top: 25%;
    z-index: 100;
    box-shadow: 2px 2px 10px black;
    text-shadow: 2px 2px 4px black;
    backdrop-filter: blur(8px);
    animation: topVenta 0.4s linear infinite ;
    
    
}


.carrusel {
    position: relative;
    
    margin-top: 20px;
  margin-bottom: 2rem;
}

.carrusel__imagen {
   

    display: block;
    margin: 0 auto;
    text-align: center;
    height: 30rem;
    width: auto;

    object-fit: contain;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 10px;
}

#carouselExampleControls img {
    border-radius: 10px;
}
/*card estilos*/

#lista_juegos
{
    width: 100%;
    height: 100%;
    margin: auto;
    
}


div.modal.fade.show
{
    backdrop-filter: blur(4px);
}
.card
{
    text-align: center !important;
    padding: 0.2rem;
}
.input-card
{
    
   padding-right: 0 !important;
   width: 60px;
   margin-bottom: 1rem;
}
.card-contenido
{
    margin-top:  20px;
}
.card-precio
{
    font-weight: bold;
    color:#007a1f;
}
.container-card
{
    margin: 0.1rem;
    text-align:-moz-center ;
}
.boton-compra
{
   
    width: 6rem;
    
}
.card-title
{
    font-weight: bold;
}
#spinnerContainer
{
  text-align: center;
  margin:10%;
}
#lista_juegos
{
    margin-bottom: 20px;
}
.modal-seccion
{
    margin: 8px;
    text-align: justify;
}
.modal-label
{
    font-weight: bolder;
}
.modal-span
{
    color: #007a1f;
}
.modal-title{
    font-weight: bold;
}


